<!DOCTYPE html>
<html lang="en" xmlns:v-model="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>姓名-计算属性</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
<div id="root">
    姓 <input type="text" v-model="firstName"/> <br/><br/>
    名 <input type="text" v-model="secondName"/> <br/><br/>
    姓名 ： <span> {{fullName()}} </span>
</div>

</body>
<script type="text/javascript">
    Vue.config.productionTip = false;

    new Vue({
        el: "#root",
        data: {
            firstName: "张",
            secondName: "三"
        },
        methods:{
            fullName: function(){
                return this.firstName + '-' + this.secondName;
            }
        }
    })
</script>
</html>